.explorer {
  grid-column: span 1;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding-left:12px;
  border-right: solid 1px var(--color-secondary);
  font-weight: bold;
  color: var(--colour-ink);
  box-shadow: black -1px 0px 10px -2px;


  &__header{
    font-size: 1em;
    color: var(--color-secondary);
    text-decoration: underline;
    margin-top: 8px;
  }

  &__entry, &__dictionary-key {
    padding-left: 16px;
    cursor: pointer;

    &__title {
      &--active {
        color:var(--color-accent);
        text-decoration: underline;
      }
    }
  }

  &__dictionary-key {
    &__title {

      &::after {
        border-style: solid;
        border-width: 0.1em 0.1em 0 0;
        opacity: 0.5;
        content: '';
        display: inline-block;
        height: 0.25em;
        left: 0.5em;
        position: relative;
        top: 0.45em;
        transform: rotate(135deg);
        vertical-align: top;
        width: 0.25em;
      }

      &--opened {

        &:after {

          top: 0.6em;
          transform: rotate(-45deg);

        }
      }
    }
  }

}
