.context-editor {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px 16px 16px 0;

  &__new {
    display: flex;
  }

  &__existing {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    overflow: scroll;

    .context {
      flex-grow: 1;
      max-width: 30%;
      min-width: 20%;
      margin: 6px;
      border: 1px var(--colour-dark) solid;
      border-radius: var(--border-radius);

      &__name {
        background-color: var(--colour-dark);
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
        margin: 0;
        padding:3px;
        overflow: hidden;
      }

      &__entries {
        padding: 6px 0;
        line-height: 1.4rem;
      }

      &__entry {
        display: inline;
        background-color: var(--colour-dark);
        color: var(--colour-light);
        margin: 2px 4px;
        padding: 2px 6px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 0.8rem;
        white-space: nowrap;
      }
    }
  }
}
