.workspace {
  padding: 16px 24px;
  width:100%;
  height:100%;
  overflow: scroll;
  background-color: var(--colour-dark);

  &__path {
    position: sticky;
    top: -16px;
    z-index: 1;
    background-color: var(--colour-dark);
    color: var(--colour-light);
    text-decoration: underline;
  }

  &__add-entry {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--colour-light);

    svg {
      width: 2rem!important;
      height: 2rem;
    }
  }
}
