.browser-nav {
  &__toolbox {
    display: flex;


    button {
      flex-grow: 1;
      padding:8px 6px;
      cursor: pointer;
    }
    .file-load {
      display: none;
    }

    .auto-save{
      color: rgba(255, 255, 255, 0.22);
      &--active{
       color: var(--colour-light)
      }
    }
  }

  &__name {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--colour-dark);
    padding: 16px;
    margin-bottom: 18px;

    &__form {
      flex-grow: 1;
    }

    &__input {
      width: 100%;
    }
  }
}
