.browser-entry {
  --entry-offset-left: 24px;
  --entry-offest-vertical: .7rem;
  margin-left: var(--entry-offset-left);
  margin-bottom: 8px;
  margin-top: 8px;

  &--initial {
    margin-left: 0;
  }
  &__name {
    cursor: pointer;
    display: inline;
    margin: var(--entry-offest-vertical) 0;
    p {
      display: inline;
    }
  }
  &__entries{
    margin: var(--entry-offest-vertical) 0;
    margin-left: var(--entry-offset-left);
    cursor: pointer;

    &--active{
      font-weight: bold;
    }
  }

  &__new {
    margin-left: var(--entry-offset-left);
    opacity: 0.5;
  }
}
