.browser-entry {
margin-left: 10px;

  &__name {
    cursor: pointer;
    text-decoration: underline;
  }
  &__entries{
    margin-left: 10px;
    cursor: pointer;
  }

  &__new {
    margin-left: 10px;
    opacity: 0.5;
  }
}
