html, body, #root {
  background-color: var(--colour-light);
  height:100%;
}
* {
  font-family: 'roboto', sans-serif;
  box-sizing: border-box;
}

:root {
  --colour-dark: #1c2c5c;
  --colour-light: #e6e6e6;
  --border-radius :4px;
}

input {
  background-color: transparent;
  outline: none;
  border:none;
  border-bottom: var(--colour-dark) 2px solid;
}

button {
  background-color: var(--colour-dark);
  color: var(--colour-light);
  border: none;
  outline: none;
  cursor: pointer;
}

.app-container{
  height:100%;
  display: grid;
  grid-template-columns:  3fr 7fr;
  grid-template-rows: minmax(auto,80%) 20%;
}
