.inspector{
  grid-column: span 3;
  overflow: scroll;
  padding: 32px;
  color: var(--colour-ink);
  height: 75vh;

  &__title{
    margin-bottom: 15px;
    margin-top: 0;
    padding: 0;
    color: var(--colour-ink);
    font-weight: 500;
    border-bottom: 2px solid var(--color-accent);
  }

  &__entry{
    display: flex;
    margin-bottom: 15px;

   & > *{
      margin-left: 16px;
    }
  }

  &__controls{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;

    button{
      margin-left: .5rem;
    }
  }
}
